@import "bootstrap";
@import "bootstrap/scss/bootstrap";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: row;
  grid-gap: 140px;
  padding-left: 100px;
}

/*.container {
  margin: 0 auto;
}*/

.box {
  padding: 10px;
}

h2 {
  font-size: 22px;

}

p {
  font-style: normal;
  padding-top: 10px;
  margin: 2px;
  font-size: 12px;
  text-align: left;
}

p.power_generator-card__price {
  font-style: normal;
  font-size: 28px;
  text-align: left;
  color: red;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;

}

.header__title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  color: #000;
  text-align: center;
  margin-left: 46%;
}

.gradient {
  background: #e96443;
  background: -webkit-linear-gradient(to right, #e98f00, #e98776);
  background: linear-gradient(to right, #ff9876, #c6c654);
}

.logo {
  width: 360px;
  height: 160px;
  margin-left: 2%;
}

.searcher {
  margin-top: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.searcher__radio {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin-left: 20px;
}

.simple-form {
  margin: 25px 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

/*.simple-form__input {
  width: 200px;
  margin-left: 100px;
}

.simple-form__btn {
  margin-left: -60px;
}*/

.advanced_search {
  margin: 25px 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.form-check {
  display: inline;
}

.filter {
  margin:25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  max-height: 20px;
}

.power_generators-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 10px;
  width: 100px;
}

.card-left-col {
  p {
    text-align: right;
    padding-top: 0;
    text-size: 10px;
  }
  h2 {
    text-align: right;
    margin-top: 10px;
  }
}



.card img {
  width: 100% ;
  border-radius: 0.25em;
  margin: 30px 0 15px;
}

.power_generator-card__img {
  width: 220px;
  height: 220px;
}


/*.power_generator-card__body {
  margin-left: 26px;
  margin-right: 130px;
}
*/
.power_generator-card__button {
  color: #e96443;
}

.pagination {
  margin: 0 auto 50px;
}
